span.year{
    font-weight: bold;
}

div.timeline{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.heading3{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}

html{
    background-color: rgb(240, 236, 236);
}

#figImage{
    display: block;
    padding: 20px;
    margin: 0;
    padding-left: 360px;
    background-color: rgb(253, 247, 247);
}

h1.headingName{
    margin-left: 500px;
}

p.intro{
    margin-left: 350px;
}

#alanQuote{
    width: 800px;
    background-color: rgb(249, 229, 250);
    margin-left: 400px;
}

p.footnote{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}